/* CSS */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body{
	font-family: "Open Sans";
	font-size: 15px;
	color: #526D82;
}
/* Style for side navigation bar */
.sidenav {
	height: 100%;
	width: 170px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #111;
	overflow-x: hidden;
	padding-top: 60px;
	text-align: center;
	color: rgb(157, 178, 191);
}

.sidenav a {
	padding: 6px 8px 6px 16px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
}

.sidenav a:hover {
	background-color: #555;
	color: #f1f1f1;
}


.dropdown-container {
	display: none;
	background-color: #f9f9f9;
	padding: 10px;
	border: 1px solid #ccc;
}

.dropdown-container a {
	color: #337ab7;
	padding: 6px 8px 6px 16px;
	text-decoration: none;
	display: block;
}

.dropdown-container a:hover {
	background-color: #555;
	color: #f1f1f1;
}

/* Style for page content */
.main {
	margin-left: 200px;
	padding: 20px;
}
.sim{
	color: #f9f9f9;
	text-align: center;
}