@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

h1{
    
    text-align: center;
    text-align: center;
    font-family: "Open Sans";
    font-size: 30px;
    color: white;
  
}

.container{
    text-align: center;
    text-align: center;
    font-family: "Open Sans";
    font-size: 20px;
    
    
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
body {
    display: grid;
    place-items: center;
    min-height: 100vh;
    background-color: #ffffff;
}

.container {
    display: flex;
}
.img {
    width: 161px;
    height: 170px;
    border: .3rem solid #1f1b1b;
    border-radius: 50%;
    box-shadow: 0 0 .5rem rgba(0, 0, 0, .4);
    overflow: hidden;
}
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    user-select: none;
}
.card {
    background-color: rgb(157, 178, 191);
    margin: 0 1rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: .5rem;
    position: relative;
    cursor: pointer;
    border: .5rem solid transparent;
    transition: 200ms ease-in-out transform;
    
   
  
}
.check_btn {
    position:absolute;
    top: 8%;
    right: 8%;
    background-color: rgba(5, 4, 4, 0.4);
    width: 2rem;
    height: 2rem;
    display: grid;
    place-items: center;
    border-radius: .5rem;
}
.fa-check {
    color: #ffff;
}
.title {
    margin: 1.5rem 0;
}
.title,
ul li {
    color: #1f1208;
    text-shadow: 0 0 .1rem rgba(0, 0, 0, .4);
}

.card:hover {
    transform: scale(1.02)
}
.card:active {
    transform: scale(.97)
}

input[id="card_one"]:checked ~ label[for="card_one"] .card,
input[id="card_two"]:checked ~ label[for="card_two"] .card,
input[id="card_three"]:checked ~ label[for="card_three"] .card,
input[id="card_four"]:checked ~ label[for="card_four"] .card,
input[id="card_five"]:checked ~ label[for="card_five"] .card {
    border-color: rgb(21, 231, 238);
}
/* you can see based on which card is checked the border color will be changed */
/* ~ selector selects the sibling elements, in this case the label */

input[id="card_one"]:checked ~ label[for="card_one"] .card .check_btn,
input[id="card_two"]:checked ~ label[for="card_two"] .card .check_btn,
input[id="card_three"]:checked ~ label[for="card_three"] .card .check_btn,
input[id="card_four"]:checked ~ label[for="card_four"] .card .check_btn,
input[id="card_five"]:checked ~ label[for="card_five"] .card .check_btn {
    background-color: rgb(21, 231, 238);
}

input[id="card_one"]:checked ~ label[for="card_one"] .card .img,
input[id="card_two"]:checked ~ label[for="card_two"] .card .img,
input[id="card_three"]:checked ~ label[for="card_three"] .card .img {
    border-color:rgb(157, 178, 191);
    box-shadow: 0 0 .5rem rgba(3, 4, 77, 0.6);
}

/* its all done and the last thing is we need to remove the input radio btns */
input {
    display: none;
}

.cont{
    border: none;
    color: rgb(10, 10, 10);
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.cont:hover {
        background-color: #7986b1;
      }

a:link {
    text-decoration: none;
}

button {
    /* Add some padding to give the button some depth */
    padding: 10px 20px;
  
    /* Add a border to give the button a 3D appearance */
    border: none;
    border-radius: 20px;
    box-shadow: 0 0 1000px rgba(27, 2, 53, 0.2);
  
    /* Add a background color and text color */
    background-color: #9d8cd4;
    color: #ffffff;
  
    /* Add some cursor styles to make it look clickable */
    cursor: pointer;
  
    /* Add some hover and active styles to make it more interactive */
    transition: background-color 0.2s;
  }
  
  button:hover {
    background-color: #9d8cd4;
  }
  
  button:active {
    background-color: #9d8cd4;
    box-shadow: 0 0 100px rgba(240, 239, 244, 0.4);
  }

body{
    background-color: #27374D; 
}
